@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --font-main: "Roboto", sans-serif;
  --font-second: "Raleway", sans-serif;
  --color-zero: #000000;
  --color-dark: #212121;
  --color-back-dark: #2f303a;
  --color-accent: #2196f3;
  --color-light: #757575;
  --color-lighter: #ececec;
  --color-full: #ffffff;
}

/* ogólne */
body {
  font-family: var(--font-main);
  color: var(--color-dark);
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.link:visited {
  color: var(--color-dark);
}
.link:hover,
.link:focus,
.link:active,
.color-accent {
  color: var(--color-accent);
}
.back-dark {
  background: var(--color-back-dark);
}
.back-lighter {
  background: var(--color-lighter);
}

/* header */
.logo {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.navi > .logo {
  color: var(--color-zero);
}
.navi {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}
.navi > .contact {
  color: var(--color-light);
}
.navi > .contact:hover,
.navi > .contact:focus,
.navi > .contact:active {
  color: var(--color-accent);
}

/* main */
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-full);
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
}
.ipsum {
  font-weight: 700;
  line-height: 1.143;
}
.lorem {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-light);
}
.figure {
  background: var(--color-full);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  line-height: 1.188;
  width: 270px;
  height: 368px;
  color: var(--color-light);
}
.fig-title {
  font-weight: 500;
  padding: 25px 0px 7px;
  color: var(--color-dark);
}

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.big {
  background: var(--color-accent);
  font-weight: 700;
  line-height: 1.875;
  width: 200px;
  height: 50px;
}
.filter {
  background: var(--color-lighter);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  height: 38px;
}
.filter:hover,
.filter:focus,
.filter:active {
  background: var(--color-accent);
  color: var(--color-full);
}

/* footer */
.foot > .logo {
  color: var(--color-full);
}
.foot {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: unset;
  color: var(--color-full);
}
.foot > .contact {
  color: rgba(255, 255, 255, 0.6);
}
.foot > .contact:hover,
.foot > .contact:focus,
.foot > .contact:active {
  color: var(--color-accent);
}
